.undertext { text-align: center;
    font-size: 20px;
}
.headers {
    border-style: solid; border-color: black;
    font-size: 45px
}

.tableaulinks {
    text-align: center;
}

.footer {
    padding-left: 600px;
}

